html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2f3035;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgb(248, 245, 245) 0%,
    rgb(231, 231, 238) 35%,
    rgb(214, 216, 216) 100%
  );
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  background-color: #231f20;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  font-family: "SFProDisplay-Bold", sans-serif;
}

.menu__item {
  display: inline-block;
}

.menu__item {
  padding: 16px;
  color: #a8a6b3;
}

.menu__item:hover {
  color: #fff;
}

.menu__item.menu__item--active {
  background-color: #383838;
  color: #fff;
}

.menu__right-list {
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #282828;
  background-image: none;
  cursor: pointer;
  max-width: 168px;
}

.menu__right-list {
  position: relative;
  overflow: hidden;
}

.menu__right-list li:nth-child(1) {
  padding-right: 15px;
}

.menu__right-list li:nth-child(2) {
  padding-left: 20px;
}

.menu__right__item {
  padding: 5px;
  background-color: #282828;
  border-radius: 0.8em;
}

.menu__right__item + .menu__right__item {
  margin-left: 10px;
}

/* header__bottom */

.header__bottom {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 15px;
}

#logo {
  height: 30px;
  width: 30px;
  background-image: url("../images/airplane-svgrepo-com.svg");
  margin-right: 24px;
}

.header__bottom--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom--menu--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px;
}

.header__bottom--menu {
  position: relative;
  font-weight: bold;
  color: #858295;
  font-size: 15px;
}

.menu-categories__item + .menu-categories__item {
  margin-left: 15px;
}

.menu-categories__link {
  transition: all 0.2s ease;
  align-items: center;
  padding: 15px 0 14px;
  position: relative;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #5e24da;
  height: 3px;
  bottom: -2px;
  transition: all 0.2s ease;
}

.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}

.user-list {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.commercial-form__inner {
  margin-bottom: 40px;
  /* text-align: center; */
}
.commercial-form__inner h1 {
  margin-bottom: 40px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 70px;
}

.form--body {
  width: 520px;
  position: relative;
  border-radius: 10px;
}

.form--body h4 {
  margin-bottom: 30px;
}

.form-check p {
  margin-bottom: 15px;
}

.commercial-offer--form select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #000;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  max-width: 168px;
}

.luggage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticket {
  width: 520px;
  border-radius: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea,
.form input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 5px 0 5px;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form input[type="number"]:focus {
  outline-color: #5e24da;
}

.form label {
  color: #777777;
  font-size: 15px;
  font-weight: 500;
}

button {
  background-color: #5e24da;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  width: 135px;
  text-transform: uppercase;
  border: none;
}

form {
  margin-top: 30px;
}

.form-btn {
  display: flex;
  justify-content: center;
}

.ticket {
  margin: 0 auto;
  width: 500px;
  min-width: 340px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.ticket .ticket-header {
  background: #5e24da;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  padding: 0.8em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.ticket .ticket-header .triangle-left {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #5e24da;
  bottom: -20px;
  left: 20px;
}
.ticket .ticket-header .triangle-right {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
  bottom: -1px;
  right: 20px;
}
.ticket .ticket-body {
  background: #fff;
  width: 100%;
  padding: 0.8em;
  border-bottom: 2px dashed #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.ticket .ticket-body h4 {
  font-weight: 300;
  text-transform: uppercase;
}
.ticket .ticket-body p {
  font-weight: bold;
}
.ticket .ticket-body .cities-info {
  margin-top: 1.2em;
  text-align: center;
  width: 100%;
}
.ticket .ticket-body .cities-info > div {
  display: inline-block;
  width: 33.3%;
  margin: 0 -2px;
  vertical-align: middle;
}
.ticket .ticket-body .cities-info span {
  background: #5e24da;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 250px;
  color: #fff;
}
.ticket .ticket-body .info {
  margin-top: 1.2em;
  background: #5e24da;
  color: #fff;
  padding: 0.8em;
  border-radius: 0.8em;
}
.ticket .ticket-body .info-item-container {
  margin-top: 0.4em;
}
.ticket .ticket-body .info-item-container > .item {
  display: inline-block;
  width: 33.3%;
  margin: 0 -2px;
  padding-bottom: 0.4em;
  vertical-align: top;
}
.ticket .ticket-body .barcode-container {
  margin-top: 0.8em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.ticket .ticket-footer-container {
  cursor: pointer;
  background: #fff;
  border-radius: 15px;
  position: relative;
  width: 100%;
}
.ticket .ticket-footer-container .ticket-footer-1 {
  padding: 0.8em;
  text-align: center;
}
.ticket .ticket-footer-container .ticket-footer-1 > span {
  margin-top: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}
.ticket .ticket-footer-container .ticket-footer-2 {
  padding: 0.8em;
  background: #5e24da;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* footer */
.footer {
  background: #282828;
  color: #a8a6b3;
  padding-bottom: 16px;
  padding-top: 24px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  width: 760px;
}

.footer__right {
  width: 380px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.footer__top-item {
  width: 200px;
}

.footer-list {
  font-size: 14px;
  line-height: 23px;
}

.footer-list__item:hover {
  color: #fff;
}

.footer__right-top {
  background-color: #1f1f1f;
  background-image: url("../images/footer-banner.png");
  background-repeat: no-repeat;
  background-position: top 31px right 7px;
  color: #fff;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.footer-right-contacts__list {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.footer__right-contacts {
  max-width: 160px;
}

.footer-right-contacts__item {
  margin-bottom: 20px;
  margin-left: 15px;
}
